CNF_version = 3
LK_auto_E1 = 
LK_Circle_E1 = mass:/InfinityCorp_skin_1280x800/main_menu/2/BOOT.ELF
LK_Cross_E1 = mass:/Apps/Emulators/SNES Station/SNES Station.elf
LK_Square_E1 = 
LK_Triangle_E1 = 
LK_L1_E1 = MISC/Load CNF--
LK_R1_E1 = MISC/Load CNF++
LK_L2_E1 = 
LK_R2_E1 = 
LK_L3_E1 = 
LK_R3_E1 = 
LK_Start_E1 = 
LK_Left_E1 = MISC/Load CNF--
LK_Right_E1 = MISC/Load CNF++
LK_ESR_E1 = mass:/BOOT/ESR.ELF
Misc = MISC/
Misc_PS2Disc = PS2Disc
Misc_FileBrowser = FileBrowser
Misc_PS2Browser = PS2Browser
Misc_PS2Net = PS2Net
Misc_PS2PowerOff = PS2PowerOff
Misc_HddManager = HddManager
Misc_TextEditor = TextEditor
Misc_JpgViewer = JpgViewer
Misc_Configure = Configure
Misc_Load_CNFprev = Load CNF--
Misc_Load_CNFnext = Load CNF++
Misc_Set_CNF_Path = Set CNF_Path
Misc_Load_CNF = Load CNF
Misc_ShowFont = ShowFont
Misc_Debug_Info = Debug Info
Misc_About_uLE = About uLE
GUI_Col_1_ABGR = 00000000
GUI_Col_2_ABGR = 00FF7070
GUI_Col_3_ABGR = 00FF7070
GUI_Col_4_ABGR = 00FFFFD0
GUI_Col_5_ABGR = 006C6C6C
GUI_Col_6_ABGR = 00FF0000
GUI_Col_7_ABGR = 00FF7070
GUI_Col_8_ABGR = 00000000
SKIN_FILE = uLE:/fond.jpg
GUI_SKIN_FILE = uLE:/2_4.jpg
SKIN_Brightness = 50
TV_mode = 0
Screen_Interlace = 1
Screen_X = 632
Screen_Y = 50
Popup_Opaque = 0
Menu_Frame = 0
Show_Menu = 0
LK_auto_Timer = 1
Menu_Hide_Paths = 1
Init_CDVD_Check = 0
Init_Reset_IOP = 1
Menu_Pages = 6
GUI_Swap_Keys = 1
USBD_FILE = 
NET_HOSTwrite = 0
Menu_Title = 
Init_Delay = 0
USBKBD_USED = 1
USBKBD_FILE = 
KBDMAP_FILE = 
Menu_Show_Titles = 0
PathPad_Lock = 0
CNF_Path = 
USBMASS_FILE = 
LANG_FILE = 
FONT_FILE = uLE:/fond.jpg
JpgView_Timer = 5
JpgView_Trans = 2
JpgView_Full = 0
PSU_HugeNames = 0
PSU_DateNames = 0
PSU_NoOverwrite = 0
FB_NoIcons = 0
PathPad_Lock = 0
