 CNF_version = 1
Debug_Screen = 0
FastBoot = 1
ESR_Path_E1 = mass:/PS2Apps/ESR.ELF
ESR_Path_E2 = mc?:/BOOT/ESR.ELF
ESR_Path_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
pad_delay = 0
LK_Auto_E1 = mc?:/APPS/OPNPS2LD.ELF
LK_Auto_E2 = mc?:/APPS/OPNPS2LD.ELF
LK_Auto_E3 = mc?:/APPS/OPNPS2LD.ELF
LK_Circle_E1 = OSDSYS
LK_Cross_E1 = OSDSYS
LK_Square_E1 = OSDSYS
LK_Triangle_E1 = mc?:/BOOT/BOOT.ELF
LK_Triangle_E2 = mass:/BOOT/BOOT.ELF
LK_L1_E1 = mass:/BOOT/HDLOADER.ELF
LK_L1_E2 = mc?:/BOOT/HDLOADER.ELF
LK_L1_E3 = mc?:/B?DATA-SYSTEM/HDLOADER.ELF
LK_R1_E1 = mass:/BOOT/BOOT.ELF
LK_R1_E2 = mc?:/BOOT/BOOT.ELF
LK_R1_E3 = mc?:/B?DATA-SYSTEM/BOOT.ELF
LK_L2_E1 = mass:/BOOT/SMS.ELF
LK_L2_E2 = mc?:/BOOT/SMS.ELF
LK_L2_E3 = mc?:/B?DATA-SYSTEM/SMS.ELF
LK_R2_E1 = mass:/BOOT/ESR.ELF
LK_R2_E2 = mc?:/BOOT/ESR.ELF
LK_R2_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
LK_L3_E1 = OSDSYS
LK_R3_E1 = OSDSYS
LK_Up_E1 = OSDSYS
LK_Down_E1 = OSDSYS
LK_Left_E1 = OSDSYS
LK_Right_E1 = OSDSYS
LK_Start_E1 = mc?:/SYS-CONF/FMCB_CFG.ELF
LK_Start_E2 = OSDSYS
LK_Select_E1 = OSDSYS
hacked_OSDSYS = 1
OSDSYS_video_mode = NTSC
OSDSYS_Skip_Disc = 1
OSDSYS_Skip_Logo = 1
OSDSYS_Inner_Browser = 0
OSDSYS_selected_color = 0xAD,0xFF,0x2F,0x80
OSDSYS_unselected_color = 0x10,0x80,0xE0,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 320
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1000
OSDSYS_cursor_acceleration = 100
OSDSYS_left_cursor = Åö
OSDSYS_right_cursor = Åö
OSDSYS_menu_top_delimiter = y-99r0.80   cxInfinity czWolfPack   c1[r0.80Version 5.0 -{1.8b}r0.00]y-00
OSDSYS_menu_bottom_delimiter = c0r0.60y+99Usa o006/o007 para explorary-00r0.00
OSDSYS_num_displayed_items = 7
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = Launch disc
path1_OSDSYS_ITEM_1 = FASTBOOT
name_OSDSYS_ITEM_2 = Open PS2 Loader DA
path1_OSDSYS_ITEM_2 = mc?:/APPS/OPNPS2LD.ELF
path2_OSDSYS_ITEM_2 = mass:/APPS/OPNPS2LD.ELF
path3_OSDSYS_ITEM_2 = mc?:/APPS/OPNPS2LD.ELF
name_OSDSYS_ITEM_97 = uLaunchELF
path1_OSDSYS_ITEM_97 = mc?:/BOOT/BOOT.ELF
path2_OSDSYS_ITEM_97 = mass:/BOOT/BOOT.ELF
path3_OSDSYS_ITEM_97 = mc?:/BOOT/BOOT.ELF
name_OSDSYS_ITEM_98 = Free MCBoot Configurator
path1_OSDSYS_ITEM_98 = mc?:/SYS-CONF/FMCB_CFG.ELF
name_OSDSYS_ITEM_99 = Restart System
path1_OSDSYS_ITEM_99 = OSDSYS