CNF_version = 1
Debug_Screen = 0
FastBoot = 1
ESR_Path_E1 = mass:/PS2Apps/ESR.ELF
ESR_Path_E2 = mc?:/BOOT/ESR.ELF
ESR_Path_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Auto_E2 = OSDSYS
LK_Auto_E3 = OSDSYS
LK_Circle_E1 = OSDSYS
LK_Cross_E1 = OSDSYS
LK_Square_E1 = OSDSYS
LK_Triangle_E1 = mc?:/BOOT/BOOT.ELF
LK_L1_E1 = mass:/BOOT/HDLOADER.ELF
LK_L1_E2 = mc?:/BOOT/HDLOADER.ELF
LK_L1_E3 = mc?:/B?DATA-SYSTEM/HDLOADER.ELF
LK_R1_E1 = mass:/BOOT/BOOT.ELF
LK_R1_E2 = mc?:/BOOT/BOOT.ELF
LK_R1_E3 = mc?:/B?DATA-SYSTEM/BOOT.ELF
LK_L2_E1 = mass:/BOOT/SMS.ELF
LK_L2_E2 = mc?:/BOOT/SMS.ELF
LK_L2_E3 = mc?:/B?DATA-SYSTEM/SMS.ELF
LK_R2_E1 = mass:/BOOT/ESR.ELF
LK_R2_E2 = mc?:/BOOT/ESR.ELF
LK_R2_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
LK_L3_E1 = OSDSYS
LK_R3_E1 = OSDSYS
LK_Up_E1 = OSDSYS
LK_Down_E1 = OSDSYS
LK_Left_E1 = OSDSYS
LK_Right_E1 = OSDSYS
LK_Start_E1 = mc?:/SYS-CONF/FMCB_CFG.ELF
LK_Start_E2 = OSDSYS
LK_Select_E1 = OSDSYS
hacked_OSDSYS = 1
OSDSYS_video_mode = NTSC
OSDSYS_Skip_Disc = 1
OSDSYS_Skip_Logo = 1
OSDSYS_Inner_Browser = 0
OSDSYS_selected_color = 0xAD,0xFF,0x2F,0x80
OSDSYS_unselected_color = 0x10,0x80,0xE0,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 320
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1000
OSDSYS_cursor_acceleration = 100
OSDSYS_left_cursor = Åö
OSDSYS_right_cursor = Åö
OSDSYS_menu_top_delimiter = y-99r0.80   cxInfinity czWolfPack                c1[r0.80Version 3.0-{%VER%}r0.00]y-00
OSDSYS_menu_bottom_delimiter = c0r0.60y+99Usa o006/o007 para explorary-00r0.00
OSDSYS_num_displayed_items = 7
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = Launch disc
path1_OSDSYS_ITEM_1 = FASTBOOT
name_OSDSYS_ITEM_2 = Open PS2 Loader
path1_OSDSYS_ITEM_2 = mc?:/APPS/OPL/OPNPS2LD.ELF
path2_OSDSYS_ITEM_2 = mc?:/APPS/OPL/OPNPS2LD.ELF
path3_OSDSYS_ITEM_2 = mc?:/APPS/OPL/OPNPS2LD.ELF
name_OSDSYS_ITEM_3 = Open PS2 Loader 1.0 VER 2021
path1_OSDSYS_ITEM_3 = mass:/APPS/OPL1.0/OPNPS2LD-v1.0.0.ELF
path2_OSDSYS_ITEM_3 = mass:/APPS/OPL1.0/OPNPS2LD-v1.0.0.ELF
path3_OSDSYS_ITEM_3 = mass:/APPS/OPL1.0/OPNPS2LD-v1.0.0.ELF
name_OSDSYS_ITEM_4 = Simple Media System
path1_OSDSYS_ITEM_4 = mc?:/APPS/SMS/SMS.ELF
path2_OSDSYS_ITEM_4 = mc?:/APPS/SMS/SMS.ELF
path3_OSDSYS_ITEM_4 = mc?:/APPS/SMS/SMS.ELF
name_OSDSYS_ITEM_7 = Emulador Atari 2600
path1_OSDSYS_ITEM_7 = mass:/APPS/Emulador Atari 2600/PVCS2.ELF
path2_OSDSYS_ITEM_7 = mass:/APPS/Emulador Atari 2600/PVCS2.ELF
path3_OSDSYS_ITEM_7 = mass:/APPS/Emulador Atari 2600/PVCS2.ELF
name_OSDSYS_ITEM_8 = Emulador NES
path1_OSDSYS_ITEM_8 = mc?:/APPS/Emulador de NES/quicknes.elf
path2_OSDSYS_ITEM_8 = mc?:/APPS/Emulador de NES/quicknes.elf
path3_OSDSYS_ITEM_8 = mc?:/APPS/Emulador de NES/quicknes.elf
name_OSDSYS_ITEM_9 = Emulador SNES
path1_OSDSYS_ITEM_9 = mc?:/APPS/Emulador SNES/SNES.ELF
path2_OSDSYS_ITEM_9 = mc?:/APPS/Emulador SNES/SNES.ELF
path3_OSDSYS_ITEM_9 = mc?:/APPS/Emulador SNES/SNES.ELF
name_OSDSYS_ITEM_10 = Emulador GameBoy
path1_OSDSYS_ITEM_10 = mc?:/APPS/Emulador GB/mgba.elf
path2_OSDSYS_ITEM_10 = mc?:/APPS/Emulador GB/mgba.elf
path3_OSDSYS_ITEM_10 = mc?:/APPS/Emulador GB/mgba.elf
name_OSDSYS_ITEM_11 = Emulador GameBoy Advance
path1_OSDSYS_ITEM_11 = mass:/APPS/Emulador GBA/TempGBA.elf
path2_OSDSYS_ITEM_11 = mass:/APPS/Emulador GBA/TempGBA.elf
path3_OSDSYS_ITEM_11 = mass:/APPS/Emulador GBA/TempGBA.elf
name_OSDSYS_ITEM_12 = Emulador Sega Genesis
path1_OSDSYS_ITEM_12 = mc?:/APPS/Emulador Sega Genesis/picodrive.elf
path2_OSDSYS_ITEM_12 = mc?:/APPS/Emulador Sega Genesis/picodrive.elf
path3_OSDSYS_ITEM_12 = mc?:/APPS/Emulador Sega Genesis/picodrive.elf
name_OSDSYS_ITEM_15 = Mario64
path1_OSDSYS_ITEM_15 = mass:/APPS/Mario64/Mario64.elf
path2_OSDSYS_ITEM_15 = mass:/APPS/Mario64/Mario64.elf
path3_OSDSYS_ITEM_15 = mass:/APPS/Mario64/Mario64.elf
name_OSDSYS_ITEM_16 = Super Mario War
path1_OSDSYS_ITEM_16 = mass:/APPS/Super Mario War/Super Mario War.elf
path2_OSDSYS_ITEM_16 = mass:/APPS/Super Mario War/Super Mario War.elf
path3_OSDSYS_ITEM_16 = mass:/APPS/Super Mario War/Super Mario War.elf
name_OSDSYS_ITEM_17 = PS2 DOOM
path1_OSDSYS_ITEM_17 = mass:/APPS/PS2Doom/ps2doom.elf
path2_OSDSYS_ITEM_17 = mass:/APPS/PS2Doom/ps2doom.elf
path3_OSDSYS_ITEM_17 = mass:/APPS/PS2Doom/ps2doom.elf
name_OSDSYS_ITEM_18 = M-PS2CRAFT
path1_OSDSYS_ITEM_18 = mass:/APPS/M-PS2craft-BETA_00/game.elf
path2_OSDSYS_ITEM_18 = mass:/APPS/M-PS2craft-BETA_00/game.elf
path3_OSDSYS_ITEM_18 = mass:/APPS/M-PS2craft-BETA_00/game.elf
name_OSDSYS_ITEM_19 = Geotron
path1_OSDSYS_ITEM_19 = mc?:/APPS/geotron_ntsc.elf
path2_OSDSYS_ITEM_19 = mass:/APPS/geotron_ntsc.elf
path3_OSDSYS_ITEM_19 = mc?:/APPS/geotron_ntsc.elf
name_OSDSYS_ITEM_97 = uLaunchELF
path1_OSDSYS_ITEM_97 = mc?:/BOOT/BOOT.ELF
path2_OSDSYS_ITEM_97 = mc?:/BOOT/BOOT.ELF
path3_OSDSYS_ITEM_97 = mc?:/BOOT/BOOT.ELF
name_OSDSYS_ITEM_98 = Free MCBoot Configurator
path1_OSDSYS_ITEM_98 = mc?:/SYS-CONF/FMCB_CFG.ELF
name_OSDSYS_ITEM_99 = Restart System
path1_OSDSYS_ITEM_99 = OSDSYS
name_OSDSYS_ITEM_100 = Shutdown System
path1_OSDSYS_ITEM_100 = POWEROFF
path2_OSDSYS_ITEM_100 = mc?:/APPS/PowerOff.ELF
path3_OSDSYS_ITEM_100 = mc?:/APPS/PowerOff.ELF